body {
  background-color: #F5F5F1;
}

.txt_color_beige {
  color: #6A645D;
}

.font_vollkorn {
  font-family: "Vollkorn", serif;
}

.font_quicksand {
  font-family: "Quicksand", sans-serif;
}

#sub-title {
  max-width: 670px;
  margin: 0 auto;
  line-height: 2rem;
  font-size: 1.1rem;
  font-weight: 600;
}